<div class="mt-5 container">
  <div class="row">
    <h2>配送先一覧</h2>
  </div>
    <%= form_with model: @shipping_address, url: shipping_addresses_path do |f| %>
    <div class="form-group row">
      <%= f.label :postcode, "郵便番号（ハイフンなし)", class: "col-md-3" %>
      <%= f.text_field :postcode, placeholder: "0000000", class: "form-control col-md-3" %>
    </div>
    <div class="form-group row">
      <%= f.label :address, "住所", class: "col-md-3" %>
      <%= f.text_field :address, placeholder: "東京都港区", class: "form-control col-md-6" %>
    </div>
    <div class="form-group row">
      <%= f.label :name, "宛名", class: "col-md-3" %>
      <%= f.text_field :name, placeholder: "コーヒー太郎", class: "form-control col-md-3" %>
      <%= f.submit "新規登録", class: "offset-3 btn btn-success" %>
    </div>
    <% end %>

    <table class="table" border="1">
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
      <% @shipping_addresses.each do |shipping_address| %>
        <tr>
          <td><%= shipping_address.postcode %></td>
          <td><%= shipping_address.address%></td>
          <td><%= shipping_address.name %></td>
          <td>
            <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class:"btn btn-success" %>
            <%= link_to "削除する", shipping_address_path(shipping_address.id), data: { confirm: '本当に消しますか？' }, method: :delete, class:"btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
</div>