<div class="mt-5 container">
  <div class="row">
    <div class="mx-auto">
      <h2>商品一覧 <%= link_to "+", new_admin_product_path, class:"btn btn-primary" %></h2>

      <% @products.each do |product| %>
      <table class="table table-hover">
        <tr>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>販売ステータス</th>
        </tr>
        <tr onclick='window.location="<%= '/admin/products/' + product.id.to_s %>"' role="link">
          <td><%= product.name %></td>
          <td>¥<%= product.price %></td>
          <td><%= product.ganre.name %></td>
          <td>
            <% if product.is_active %>
             <span class="text-success">販売中</span>
            <% else %>
             販売停止中
            <% end %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>